/* /////////////////////////// */
/* RESET */
/* /////////////////////////// */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  color: #fff;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
main {
  background: #030104;
  background: linear-gradient(0deg, #360b1c 0%, #030104 100%);
}
p,
blockquote,
ul {
  font-family: "B612", sans-serif;
  font-size: 1.3rem;
  line-height: 1.4em;
  margin: 10px 0 20px;
}
p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4em;
}
h2 {
  font-family: "Oleo Script Swash Caps", cursive;
  text-align: center;
  color: #F2D8C1;
  text-shadow: 4px 4px 0px #302b3a;
  font-size: 3rem;
  margin-bottom: 15px;
}
h3 {
  font-family: "B612", sans-serif;
  color: #d5b9b1;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
}
blockquote {
  margin: 0 25px;
  padding: 0 25px;
  font-size: 1.1rem;
  line-height: 1.4em;
  border-left: 3px solid #8b6364;
}
ul {
  list-style-type: circle;
}
a {
  color: #e4a999;
}
a:hover {
  color: #bb7897;
}
.iframe {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 400px;
}
.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
.rsvp-iframe {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 700px;
}
.rsvp-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 800px) {
  p {
    font-size: 1.4rem;
  }
  h2 {
    text-shadow: 2.5px 3px 0px #302b3a;
    font-size: 4.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .iframe {
    display: block;
    max-width: 800px;
    height: 500px;
  }
  .iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
  }
}
/* NAVIGATION */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 5;
  background: #030104;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.navigation a {
  text-decoration: none;
  color: #cbd3c4;
  font-size: 20px;
  font-family: "B612", sans-serif;
  text-transform: uppercase;
  padding: 0px;
  transform: rotate(-35deg);
}
.navigation a:hover {
  color: #73254c;
}
@media (min-width: 800px) {
  .navigation {
    height: 80px;
  }
  .navigation a {
    transform: rotate(0deg);
    padding: 28px;
  }
}
.footer {
  padding: 20px 0 50px;
  background: #302b3a;
  color: #646368;
  text-align: center;
}
.footer p {
  font-size: 1rem;
}
.footer a {
  color: #9e8a85;
}
.footer a:hover {
  color: #d5b9b1;
}
/* SPLASH */
.hero {
  padding: 80px 5% 0;
  background: url(../img/peony.jpg);
  height: 90vh;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.hero .super-splash-header {
  font-family: "Oleo Script Swash Caps", cursive;
  text-align: center;
  color: #eee1d6;
  text-shadow: 4px 5px 0px #360b1c;
  font-size: 7rem;
  padding: 10vh 0 20px;
}
.hero .super-splash-subline {
  font-family: "Oleo Script Swash Caps", cursive;
  color: #F2D8C1;
  text-align: center;
  text-shadow: 2px 1.75px 0px #8b6364;
  font-size: 2.6rem;
}
.hero .super-splash-dateline {
  font-family: "B612", sans-serif;
  color: #F2D8C1;
  text-align: center;
  text-shadow: 0px 0px 0px #360b1c;
  font-size: 1.8rem;
}
.hero .super-splash-location {
  font-family: "B612", sans-serif;
  color: #eee1d6;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 0px 0px 0px #360b1c;
  font-size: 1.6rem;
}
@media (min-width: 800px) {
  .hero .super-splash-header {
    font-size: 10rem;
  }
  .hero .super-splash-subline {
    font-size: 4rem;
    text-shadow: 3px 2.5px 0px #8b6364;
  }
  .hero .super-splash-dateline {
    font-size: 2rem;
  }
  .hero .super-splash-location {
    font-size: 1.8rem;
  }
}
/* MAIN CONTENT */
.main-section {
  padding: 90px 20px 80px;
}
.who img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto 20px;
}
.lodging ul {
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .who p {
    max-width: 500px;
    text-align: left;
  }
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
  }
  .flex-container .half {
    flex: 1;
    padding: 0 1%;
  }
  .flex-container .half img {
    float: right;
  }
}
@media (min-width: 1500px) {
  .main-content {
    max-width: 1500px;
    margin: 0 auto;
  }
}
