/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
section,
aside,
footer {
  margin: 0;
  padding: 2rem;
  color: #000000;
}
main {
  background-color: #fbfaef;
}
h1,
h2 {
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
h3,
h4,
h5,
p,
ul,
button {
  font-family: 'Open Sans', sans-serif;
}
h3,
h4,
h5,
p {
  padding-bottom: 0.5rem;
}
h1 {
  font-size: 6.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
  font-style: italic;
}
p {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
a {
  color: #000000;
}
ul {
  list-style-type: circle;
  padding-left: 2rem;
}
ul li {
  font-size: 1.6rem;
  line-height: 2.25rem;
}
main .flex-quarter,
main .flex-three-quarters {
  text-align: center;
  margin: 1rem;
}
main .flex-container {
  margin-bottom: 4rem;
}
@media (min-width: 650px) {
  main .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
main .flex-quarter {
  flex: 2;
}
main .flex-three-quarters {
  flex: 3;
}
.header {
  width: 100%;
}
.header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 5;
  background-color: #70ccbf;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.header nav a {
  text-decoration: none;
  color: #000000;
  font-size: 1.75rem;
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
  padding: 30px 0;
}
@media screen and (min-width: 640px) {
  .header nav a {
    font-size: 2.25rem;
    letter-spacing: 2px;
  }
}
.header nav a:hover {
  color: #f3cc40;
}
.footer {
  background: #70ccbf;
  width: 100%;
  text-align: center;
}
.skills,
.education,
.experience,
.projects {
  margin-bottom: 8rem;
}
.intro {
  margin-top: 80px;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro .flex-container {
  align-items: baseline;
}
.intro .intro-text {
  margin: 50px 20px;
}
.intro .intro-about {
  margin: 0 3% 5rem;
  padding: 2rem;
  border: #7c6965 solid 2px;
  background-color: #fbfaef;
  border-radius: 0.5rem;
  opacity: 0.8;
}
@media (min-width: 650px) {
  .intro .intro-about {
    width: 80%;
    margin: 0 auto;
  }
}
.main-content {
  margin-top: 3rem;
}
.main-content .skills {
  width: 100%;
}
.main-content .skills .skills-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 0;
}
.main-content .skills .skills-box {
  margin: 0 3% 5rem;
  padding: 2rem;
  border: #7c6965 solid 2px;
  background-color: #fbfaef;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 5px 8px 0px #f3cc40, 10px 16px 0px #e48545, 15px 24px 0px #e6673e;
  text-align: center;
}
.main-content .skills .skills-box p {
  font-size: 2rem;
}
.main-content .skills .skills-box:last-child {
  margin-bottom: 0;
}
@media (min-width: 1500px) {
  .main-content .skills {
    max-width: 1500px;
  }
}
.main-content .experience-box,
.main-content .education-box {
  margin: 0 3% 5rem;
  padding: 2rem;
  border: #7c6965 solid 2px;
  background-color: #fbfaef;
  border-radius: 0.5rem;
}
.main-content .education .education-box {
  text-align: left;
  box-shadow: 5px 8px 0px #70ccbf, 10px 16px 0px #06aed5, 15px 24px 0px #f3cc40;
}
.main-content .experience .experience-box {
  text-align: left;
  box-shadow: 5px 8px 0px #fcb8b9, 10px 16px 0px #f6c9f4, 15px 24px 0px #974ca7;
}
.main-content .experience .experience-box .project-h4 {
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  font-style: italic;
}
@media (min-width: 1500px) {
  .main-content .experience {
    max-width: 1500px;
  }
}
.contact {
  padding: 5rem 3rem 3rem;
  text-align: center;
  width: 100%;
  background-color: #70ccbf;
}
.contact .contact-text {
  margin-bottom: 8rem;
}
.contact a {
  color: #000000;
}
.contact a:hover {
  color: #f3cc40;
}
.contact .tel {
  text-decoration: none;
}
@media (min-width: 650px) {
  .contact .icons {
    max-width: 800px;
    margin: 0 auto;
  }
}
.contact .icon {
  text-decoration: none;
  border-bottom: none;
  color: #000000;
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Font Awesome 5 Brands';
  padding: 1rem;
}
.contact .icon > .label {
  display: none;
}
.contact-print {
  display: none;
}
@media print {
  .main-content {
    width: 100%;
    margin: 0;
    float: none;
  }
  body {
    line-height: 1.3;
    color: #000;
  }
  main,
  .skills-box,
  .education-box,
  .experience-box {
    background-color: #fff;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0;
    margin: 0;
  }
  h1 {
    font-size: 30pt;
    margin: 0 30pt 0 0;
  }
  h2 {
    font-size: 16pt;
  }
  h3,
  h4,
  h5 {
    font-size: 12pt;
  }
  .header,
  .intro-about,
  .contact,
  .footer {
    display: none;
  }
  .intro {
    margin-top: 0;
  }
  .intro .intro-text {
    margin: 0;
  }
  .contact-print {
    display: flex;
    font-size: 10pt;
    margin-top: 5pt;
  }
  .contact-print div {
    margin: 5pt;
  }
  .contact-print div a {
    text-decoration: none;
  }
  .skills,
  .education,
  .experience,
  .projects {
    margin-bottom: 25pt;
  }
  .skills h2 {
    margin-top: 15pt;
  }
  .main-content .experience-box,
  .main-content .education-box {
    margin: 0 0 20pt;
    padding: 4pt;
    border: #7c6965 solid 2px;
    background-color: #fbfaef;
    border-radius: 0.5rem;
  }
  .main-content .experience-box h4,
  .main-content .education-box h4,
  .main-content .experience-box h5,
  .main-content .education-box h5,
  .main-content .experience-box li,
  .main-content .education-box li,
  .main-content .experience-box p,
  .main-content .education-box p {
    font-size: 10pt;
    line-height: 12pt;
  }
  .main-content .education .education-box {
    box-shadow: 2px 5px 0px #70ccbf, 7px 13px 0px #06aed5, 12px 21px 0px #f3cc40;
  }
  .main-content .experience .experience-box {
    box-shadow: 2px 5px 0px #fcb8b9, 7px 13px 0px #f6c9f4, 12px 21px 0px #974ca7;
  }
  .main-content .experience .experience-box .project-h4 {
    font-size: 10pt;
  }
  .main-content .skills .skills-box {
    margin: 0 0 20pt;
    padding: 4pt;
    border: #7c6965 solid 2px;
    background-color: #fbfaef;
    border-radius: 0.5rem;
    box-shadow: 2px 5px 0px #f3cc40, 7px 13px 0px #e48545, 12px 21px 0px #e6673e;
  }
  .main-content .skills .skills-box p {
    font-size: 9pt;
  }
  main .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 0;
  }
  main .flex-quarter,
  main .flex-three-quarters {
    margin: 0 10pt;
  }
  @page {
    margin: 0.75cm;
  }
}
