/* /////////////////////////// */
/* PAGE STYLING */
/* /////////////////////////// */

html {
    background-color: rgb(109, 166, 184);
}

main {
    background: rgb(12, 7, 23);
    background: linear-gradient(0deg,
            rgba(12, 7, 23, 1) 0%,
            rgba(75, 56, 115, 1) 46%,
            rgb(109, 166, 184) 100%);
    /* background-image : url("img/night-sky.jpg");
  background-repeat     : no-repeat;
  background-size       : 100% auto; */
}

p,
blockquote,
ul {
    font-family: "Niramit", sans-serif;
    font-size  : 1.3rem;
    line-height: 1.4em;
    margin     : 10px 0 20px;
}

p {
    text-align: center;
}

blockquote {
    margin     : 0 25px;
    padding    : 0 25px;
    font-size  : 1.1rem;
    line-height: 1.4em;
    border-left: 3px solid #ffc33d;
}

h2 {
    font-family  : "Shrikhand", sans-serif;
    text-align   : center;
    color        : #e9f6f7;
    text-shadow  : 4px 4px 0px #ffc33d;
    font-size    : 4.5rem;
    margin-bottom: 15px;
}

h3 {
    font-family   : "Fredoka One", sans-serif;
    text-align    : center;
    font-size     : 2.6rem;
    margin-bottom : 15px;
    text-transform: uppercase;
}

a {
    color: #ffdb3d;
}

a:hover {
    color: #fff;
}