.skills,
.education,
.experience,
.projects {
  .margin-bottom-big();
}

.intro {
  margin-top: 80px;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .flex-container {
    align-items: baseline;
  }

  .intro-text {
    margin: 50px 20px;
  }

  .intro-about {
    .box-style();
    opacity: 0.8;

    @media @desktop {
      width: 80%;
      .center();
    }
  }
}

.main-content {
  .margin-top();

  .skills {
    width: 100%;

    .skills-flex-container {
      .flex();
      justify-content: space-evenly;
      align-items: flex-start;
      margin-bottom: 0;
    }

    .skills-box {
      .box-style();
      padding: 1rem;
      .box-shadow(@saffron, @burnt-sienna, @burnt-sienna-red);
      text-align: center;

      p {
        font-size: 2rem;
      }
    }

    .skills-box:last-child {
      margin-bottom: 0;
    }

    @media @large-screen {
      max-width: 1500px;
    }
  }

  .experience-box,
  .education-box {
    .box-style();
  }

  .education {
    .education-box {
      text-align: left;
      .box-shadow(@downy, @bright-cerulean, @saffron);
    }
  }

  .experience {
    .experience-box {
      text-align: left;
      .box-shadow(@melon, @cherub, @affair);

      .project-h4 {
        font-size: 1.75rem;
        .padding-bottom-small();
        font-style: italic;
      }
    }

    @media @large-screen {
      max-width: 1500px;
    }
  }
}

.contact {
  padding: 5rem 3rem 3rem;
  text-align: center;

  width: 100%;
  background-color: @downy;

  .contact-text {
    .margin-bottom-big();
  }

  a {
    color: @color-black;
  }

  a:hover {
    color: @saffron;
  }

  .tel {
    text-decoration: none;
  }

  @media @desktop {
    .icons {
      max-width: 800px;
      .center();
    }
  }

  .icon {
    text-decoration: none;
    border-bottom: none;
    color: @color-black;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Font Awesome 5 Brands';
    padding: 1rem;
  }

  .icon > .label {
    display: none;
  }
}
