.skills,
.education,
.experience,
.projects {
  .margin-bottom-big();
}

.intro {
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 2rem 10rem;

  .flex-container {
    align-items: baseline;
  }

  .intro-text {
    margin: 50px 20px;

    h2 {
      font-size: 2.5rem;
      text-align: center;

      @media @desktop {
        font-size: 3.5rem;
        text-align: left;
      }
    }
  }

  .intro-about {
    .box-style(@color-white);
    opacity: 0.8;

    @media @desktop {
      width: 80%;
      .center();
    }
  }
}

.main-content {
  .margin-top();

  .skills {
    width: 100%;

    .skills-flex-container {
      .flex();
      justify-content: space-evenly;
      align-items: flex-start;
      margin-bottom: 0;
    }

    .skills-box {
      .box-style(#fff1c0);
      padding: 1rem;
      box-shadow: 7px 9px 0px @saffron;
      text-align: center;

      p {
        font-size: 2rem;
      }
    }

    .skills-box:last-child {
      margin-bottom: 0;
    }

    @media @large-screen {
      max-width: 1500px;
    }
  }

  .experience-box,
  .education-box {
    .box-style(#ffe6e7);
  }

  .education-box {
    .box-style(#ecfffc);
  }

  .education {
    .education-box {
      text-align: left;
      box-shadow: 8px 10px 0px @downy;
    }
  }

  .experience {
    .experience-box {
      text-align: left;
      box-shadow: 8px 10px 0px @melon;

      .project-h4 {
        font-size: 1.75rem;
        .padding-bottom-small();
        font-style: italic;
      }
    }

    @media @large-screen {
      max-width: 1500px;
    }
  }
}

.contact {
  padding: 5rem 3rem 3rem;
  text-align: center;

  width: 100%;
  background-color: @downy;

  .contact-text {
    .margin-bottom-big();
  }

  a {
    color: @color-black;
  }

  a:hover {
    color: @saffron;
  }

  .tel {
    text-decoration: none;
  }

  @media @desktop {
    .icons {
      max-width: 800px;
      .center();
    }
  }

  .icon {
    text-decoration: none;
    border-bottom: none;
    color: @color-black;
    font-size: 3rem;
    font-weight: 400;
    font-family: "Font Awesome 5 Brands";
    padding: 1rem;
  }

  .icon > .label {
    display: none;
  }
}
