///// VARIABLES
@melon: #fcb8b9;
@cherub: #f6c9f4;
@affair: #974ca7;
@downy: #70ccbf;
@saffron: #f3cc40;
@burnt-sienna: #e48545;
@burnt-sienna-red: #e6673e;
@sand-dune: #7c6965;
@bianca: #fbfaef;

@color-white: @bianca;

@desktop: (min-width: 640px);
@large-screen: (min-width: 1500px);

@padding: 2rem;
@margin-bottom: 4rem;
@margin-bottom-medium: 2rem;
@margin-bottom-small: 1rem;
@margin-bottom-big: 8rem;
@margin-top: 3rem;

@righteous: "Righteous", sans-serif;
@open-sans: "Open Sans", sans-serif;
